---
layout: default
title: Join Us
permalink: /apply/
header-title: Join Us
header-desc: "Ready to learn and growth to the next level?"
header-image: /assets/images/austrian-national-library-dzXWHBXzYz4-unsplash.jpg
header-image-height: 2000
header-image-width: 3000
scroll-link: "#values"
first-button: "<a href='#hubspot' class='btn btn--primary smoothscroll'>Apply</a>"
second-button: "<a href='/team/' class='btn btn--stroke'>Our team</a>"
---

    <!-- services
    ================================================== -->
    <section id='values' class="s-services">
        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Elara Aerospace</h3>
                <h1 class="display-2">Our Values</h1>
            </div>
        </div> <!-- end section-header -->

		<div class="row services-list block-1-2 block-tab-full">

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class="icon-earth"></i>
                </div>
                <div class="service-text">
                    <h3 class="h2">Exploration</h3>
                    <p>At Elara Aerospace, we thrive on the spirit of exploration, driven by curiosity and a thirst for discovery.</p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class="icon-lego-block"></i>
                </div>
                <div class="service-text">
                    <h3 class="h2">Aspiration</h3>
                    <p>We are driven by a relentless pursuit of excellence and a forward-thinking mindset. Our team is dedicated to exceeding expectations and achieving greatness in all aspects of our work, from technological advancements to our quest for exploration and discovery.
                    </p>
                </div>
            </div>
        </div>
	</div>
	</section>

	<!-- team
    ================================================== -->
    <section id='team' class="s-about">
	<div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
				<h3 class="subhead subhead--dark">Learn, growth and inspire the next generation of rocket engineers</h3>
				<h1 class="display-1 display-1--light"><div class="tektur">Looking for the next challenge?</div></h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row about-desc" data-aos="fade-up">
            <div class="col-full">
				<a href="/team/"><img src="/assets/images/join-the-team.webp" height="300" alt="Elara Aerospace Founding Team"></a>
			</div>
		</div>
	</div>
	</section>
	
	<br /><br />
	
	<style>
	.hubspot {
	  margin: 0 auto;
	  width: 50%;
	  float: center;
	  background-color: white;
	}
	</style>

    <!-- hubspot
    ================================================== -->
    <section id='hubspot' class="hubspot">

		<div class="hubspot">
			<center>
				<img height="200px" width="200px" src="/assets/images/logo/IA Logo Final Black Framed.png" />
				<p><b>Please fill application form below to apply for a job position at Elara Aerospace</b></p>
			</center>
			
			<script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
			<script>
			  hbspt.forms.create({
				region: "eu1",
				portalId: "143597793",
				formId: "54e8a780-8c8e-4fe8-9e42-c97ea1380f74"
			  });
			</script>
		</div>	

    </section>
	
	<br><br>

    <!-- available jobs
    ================================================== -->
    <section id='careers' class="s-services">
		
		<div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Your Career at Elara Aerospace</h3>
                <h1 class="display-2">Open Job Positions</h1>
            </div>
        </div> <!-- end section-header -->
	
		<div class="row about-desc" data-aos="fade-up">
            <div class="col-full">
				We are driven by a relentless pursuit of excellence and a forward-thinking mindset. Our team is dedicated to exceeding expectations and achieving greatness in all aspects of our work, from technological advancements to our quest for exploration and discovery.
				<br><br>
			</div>
		</div>

		<hr>
		
		<!-- Current Job Offers (code/design from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_accordion_symbol) -->
		<style>
		.accordion {
		  background-color: #1e1e1e;
		  color: #FFF;
		  cursor: pointer;
		  padding: 18px;
		  width: 100%;
		  border: none;
		  text-align: left;
		  outline: none;
		  font-size: 15px;
		  transition: 0.4s;
		}

		.active, .accordion:hover {
		  background-color: #eee;
		  color: #000;
		}

		.accordion:after {
		  content: '\002B';
		  color: #777;
		  font-weight: bold;
		  float: right;
		  margin-left: 5px;
		}

		.active:after {
		  content: "\2212";
		}

		.panel {
		  padding: 0 18px;
		  max-height: 0;
		  overflow: hidden;
		  transition: max-height 0.2s ease-out;
		  margin-top: 0px;
		  margin-bottom: 0px;
		  margin-right: 100px;
		  margin-left: 100px;
		  color: white;
		}
		</style>
		
			<button class="accordion">Chief Financial Officer (CFO)</button>
			<div class="panel">
			  <h3>Who we are</h3>
			  <p>Elara Aerospace is among the pioneers in the aerospace industry with regard to student-driven innovation. Our objective is to accomplish the unprecedented achievement of propelling a rocket to a height of 100 kilometres by utilising bi-liquid rocket engines—a accomplishment that has not been previously achieved by any student organisation. We are motivated by a steadfast dedication to innovation, specifically within the domain of liquid rocket engines, and strive to expedite advancements in the aerospace sector by means of groundbreaking research and development.

			  <h3>Role description</h3>
			  <p>In the position of Chief Financial Officer (CFO) at Elara Aerospace, your responsibilities will be of highest priority in guiding the company towards financial stability and expansion. You will have the primary responsibility of supervising all financial operations of the organisation, including tax management, accounting, and financial statement preparation. The ideal individual will possess extensive knowledge and experience in mitigating financial errors and oversights, thereby guaranteeing the efficient utilisation of our resources to support our leading aspirations in aerospace exploration.

			  <h3>Key responsibilities</h3>
			  <ul>
				<li>Develop and implement financial strategies to support business objectives and long-term growth.</li>
				<li>Manage financial planning, budgeting, and forecasting processes to ensure alignment with organisational objectives.</li>
				<li>Oversee the preparation of accurate and timely financial reports, including balance sheets, income statements and cash flow statements.</li>
				<li>Ensure compliance with all relevant tax and financial regulations, both domestic and international.</li>
				<li>Analyse financial data and provide insights to support strategic decisions by senior management.</li>
				<li>Lead financial risk management efforts to mitigate potential threats to the company's financial health.</li>
				<li>Work with other departments to optimise resource allocation and drive cost saving initiatives.</li>
				<li>Provide leadership and guidance to the finance team, fostering a culture of excellence and accountability.</li>
			  </ul>

			  <h3>Qualifications</h3>
			  <ul>
				<li>Proven work experience in a similar field</li>
				<li>Bachelor's degree in finance, accounting, business administration or related field; advanced degree preferred. Applications from candidates nearing the end of their studies are also welcome. Limited academic experience in the field is acceptable, if it can be compensated by relevant work experience (apprenticeship, or similar).</li>
				<li>Strong understanding of accounting principles, financial analysis and German tax regulations.</li>
				<li>Excellent communication and interpersonal skills with the ability to work effectively with cross-functional teams.</li>
				<li>Strategic mindset with the ability to think analytically and make data-driven decisions.
				<li>Proven ability to thrive in a fast-paced, dynamic environment and adapt to changing priorities.</li>
			  </ul>

			  {% include values.html %}
			</div>

			<button class="accordion">Electrical Team Lead</button>
			<div class="panel">
			  <h3>Who we are</h3>
			  <p>Elara Aerospace is among the pioneers in the aerospace industry with regard to student-driven innovation. Our objective is to accomplish the unprecedented achievement of propelling a rocket to a height of 100 kilometres by utilising bi-liquid rocket engines—a accomplishment that has not been previously achieved by any student organisation. We are motivated by a steadfast dedication to innovation, specifically within the domain of liquid rocket engines, and strive to expedite advancements in the aerospace sector by means of groundbreaking research and development.</p>

			  <h3>Role overview</h3>
			  <p>In the role of Lead Electrical Engineer at Elara Aerospace, your responsibilities will include overseeing and directing our technical staff to promote innovation and excellence in the field of electrical engineering. You will ensure that the electrical systems developed and implemented for our rockets conform to the strictest standards for reliability, efficiency, and safety. The ideal candidate will have significant experience in leadership and a strong commitment to encouraging excellence and collaboration within the engineering team.</p>

			  <h3>Key Responsibilities:</h3>
			  <ul>
			  <li>Lead and manage the electrical engineering team, providing guidance, mentorship, and technical expertise to team members.</li>
				<li>Collaborate with cross-functional teams to design, develop, and integrate electrical systems for rocket propulsion, guidance, and control.</li>
				<li>Oversee the testing and validation of electrical systems to ensure compliance with regulatory standards and performance requirements.</li>
				<li>Identify and implement innovative solutions to optimize the performance and efficiency of electrical systems.</li>
				<li>Manage project timelines, budgets, and resources to ensure successful execution of electrical engineering projects.Foster a culture of collaboration, creativity, and excellence within the engineering team, promoting a supportive and inclusive work environm</li>
				<li>Cultivate a culture of collaboration and learning from failures, where mistakes are not punished but rather documented swiftly to facilitate fast learning and development.</li>
				<li>Stay abreast of emerging technologies and industry trends in electrical engineering, incorporating new developments into our rocket designs and engineering practices.</li>
			  </ul>

			  <h3>Qualifications</h3>
			  <ul>
				<li>Proven experience  in managing and leading electrical engineering technical teams.</li>
				<li>professional training / apprenticeship in Electrical Engineering highly preferred, bachelor’s degree in electrical engineering, Engineering Management, Industrial Engineering, Technology Management or related field; advanced degree preferred. Applications from candidates nearing the end of their studies are also welcome. Limited academic experience in the field is acceptable, if it can be compensated with relevant work experience (apprenticeship, or similar).</li>
				<li>Proven experience in managing and leading electrical engineering technical teams.</li>
				<li>Strong technical expertise in the design, analysis, and implementation of electrical systems (with a focus on aerospace applications) beneficial.</li>
				<li>Experience with electrical design software, simulation tools and test methodologies.</li>
				<li>Excellent leadership and communication skills with the ability to inspire and motivate team members to achieve their full potential.</li>
				<li>Strategic thinker with the ability to prioritiseprioritize tasks, manage resources, and deliver results in a fast-paced, dynamic environment.</li>
				<li>Detail-oriented and analytical with a focus on delivering high quality work that meets or exceeds customer expectations.</li>
				<li>Experience with electrical design software, simulation tools and test methodologies preferred.</li>
			  </ul>

			  {% include values.html %}
			</div>

			<button class="accordion">Computational Fluid dinamics (CFD)</button>
			<div class="panel">
			  <h3>Who we are</h3>
			  <p>Elara Aerospace is among the pioneers in the aerospace industry with regard to student-driven innovation. Our objective is to accomplish the unprecedented achievement of propelling a rocket to a height of 100 kilometres by utilising bi-liquid rocket engines—a accomplishment that has not been previously achieved by any student organisation. We are motivated by a steadfast dedication to innovation, specifically within the domain of liquid rocket engines, and strive to expedite advancements in the aerospace sector by means of groundbreaking research and development.</p>

			  <h3>Role overview</h3>
			  <p>In your role as the Computational Fluid Dynamics Analyst at Elara Aerospace, your primary responsibility will be to optimise the aerodynamic performance of our rockets through the execution of CFD analyses and simulations. By focusing on your expertise with one of the following programs: Ansys Discovery, Ansys Fluent, Simscale, CF Turbo, GT-Suite and Synera software and robust mathematical knowledge, you will assume a key role in influencing the design and functionality of our rocket propulsion systems. Expert in fluid dynamics simulations and optimisations, the ideal candidate will be a dynamic and analytical thinker with a passion for stretching the boundaries of aerospace engineering CFD Simulations and an acute eye for detail.</p>

			  <h3>Key Responsibilities</h3>
			  <ul>
				<li>Perform CFD analysis and simulations to predict and optimize the aerodynamic behavior of rocket components and systems.</li>
				<li>Collaborate with the engineering team to integrate CFD results into the design and development process, ensuring optimal performance and efficiency.</li>
				<li>Utilize Ansy s Ansys Discovery, Ansys Fluent, Simscale, CF Turbo, GT-Suite and Synera software and other computational tools to model and simulate fluid flow phenomena, including turbulence, heat transfer, and combustion.</li>
				<li>Conduct CFDFEM-based topology optimization to improve the structural integrity and performance of rocket components, such as nozzles and airframes.</li>
				<li>Analyze CFD results and provide insights to inform design decisions and improve overall system performance.</li>
				<li>Stay abreast of emerging technologies and best practices in CFD analysis and optimization, incorporating new developments into our engineering practices.</li>
				<li>Communicate findings and recommendations to cross-functional teams and stakeholders, including presenting technical reports and participating in design reviews.</li>
			  </ul>

			  <h3>Qualifications</h3>
			  <ul>
				<li>Proven work experience in a similar field</li>
				<li>Bachelor’s degree in mechanical engineering, Physics, Environmental Engineering, or related field; advanced degree preferred. Applications from candidates nearing the end of their studies are also welcome. Limited academic experience in the field is acceptable, if it can be compensated with relevant work experience (apprenticeship, or similar).</li>
				<li>Proficiency in CFD analysis using AnsysCFD software, with demonstrated experience in modeling and simulating fluid flow phenomena. Preferred experience with the following programs: Ansys Discovery, Ansys Fluent, Simscale, CF Turbo, GT-Suite and Synera</li>
				<li>Strong mathematical foundation, including knowledge of numerical methods, finite element analysis (FEM), and topology optimization.</li>
				<li>Preferred eExperience with CFDFEM-based topology optimization tools preferred.</li>
				<li>Excellent problem-solving skills and attention to detail, with the ability to analyze complex fluid dynamics problems and develop innovative solutions.</li>
				<li>Effective communication and collaboration skills, with the ability to work closely with cross-functional teams to achieve common goals.</li>
				<li>Ability to thrive in a fast-paced, dynamic environment and manage multiple projects simultaneously.</li>
			  </ul>

			  {% include values.html %}
			</div>

			<button class="accordion">Finite Element Method (FEM)</button>
			<div class="panel">
			  <h3>Who we are</h3>
			  <p>Elara Aerospace is among the pioneers in the aerospace industry with regard to student-driven innovation. Our objective is to accomplish the unprecedented achievement of propelling a rocket to a height of 100 kilometres by utilising bi-liquid rocket engines—a accomplishment that has not been previously achieved by any student organisation. We are motivated by a steadfast dedication to innovation, specifically within the domain of liquid rocket engines, and strive to expedite advancements in the aerospace sector by means of groundbreaking research and development.</p>

			  <h3>Role description</h3>
			  <p>In the role of the Finite Element Method Specialist at Elara Aerospace, your responsibilities will be of the highest priority in ensuring the optimal performance and structural integrity of our rocket systems and components through the execution of FEM analyses. By leveraging your adeptness with Ansys software and remarkable mathematical ability, you shall resolve complicated engineering dilemmas while guaranteeing the reliability and security of our rocket designs. The optimal candidate will possess an eye for ingenuity in resolving challenges and utilise sophisticated mathematical principles to surmount engineering obstructions while propelling advancements in aerospace exploration.</p>

			  <h3>Key Responsibilities</h3>
			  <ul>
				<li>Perform FEM and Modal analysis to predict and optimise the structural behaviour of rocket components and systems, including airframes, propulsion systems and payloads. Evaluate your analysis with calculation proofing your analysis</li>
				<li>Use Ansys  software and other computational tools to model and simulate mechanical, thermal, and dynamic responses of aerospace structures under various operating conditions.</li>
				<li>Conduct CFD-based topology optimization to improve the structural integrity and performance of rocket components, such as nozzles and airframes.</li>
				<li>Work with the engineering team to integrate FEM results into the design and development process, ensuring compliance with performance requirements and regulatory standards.</li>
				<li>Evaluate destructive test data and adjust your models accordingly</li>
				<li>Analyse FEM results and provide insights to inform design decisions, identify areas for optimisation and improve overall system performance.</li>
				<li>Perform parametric studies and sensitivity analyses to evaluate the impact of design variables on structural performance and identify opportunities for improvement.</li>
				<li>Keep abreast of emerging technologies and best practices in FEM analysis and optimisation and incorporate new developments into our engineering practices.</li>
				<li>Communicate findings and recommendations to cross-functional teams and stakeholders, including presenting technical reports and participating in design reviews.</li>
			  </ul>

			  <h3>Qualifications</h3>
			  <ul>
				<li>Proven work experience in a similar field</li>
				<li>Bachelor’s degree in mechanical engineering, Civil Engineering, Aerospace Engineering or related field; advanced degree preferred. Applications from candidates nearing the end of their studies are also welcome. Limited academic experience in the field is acceptable, if it can be compensated with relevant work experience (apprenticeship, or similar).</li>
				<li>Proficiency in FEM analysis using Ansys software with proven experience in modelling and simulation of mechanical structures.</li>
				<li>Exceptional mathematical skills, including knowledge of advanced mathematical concepts and numerical methods.</li>
				<li>Strong understanding of structural mechanics, including statics, dynamics and material behaviour.</li>
				<li>Prefered experience with CFD-based topology optimization tools preferred.</li>
				<li>Experience in non-linear and transient analysis techniques preferred.</li>
				<li>Effective communication and collaboration skills, with the ability to work closely with cross-functional teams to achieve common goals.</li>
				<li>Ability to thrive in a fast-paced, dynamic environment and manage multiple projects simultaneously.</li>
			  </ul>

			  {% include values.html %}
			</div>

			<button class="accordion">Quality supervisor (QS)</button>
			<div class="panel">
			  <h3>Who we are</h3>
			  <p>Elara Aerospace is among the pioneers in the aerospace industry with regard to student-driven innovation. Our objective is to accomplish the unprecedented achievement of propelling a rocket to a height of 100 kilometres by utilising bi-liquid rocket engines—a accomplishment that has not been previously achieved by any student organisation. We are motivated by a steadfast dedication to innovation, specifically within the domain of liquid rocket engines, and strive to expedite advancements in the aerospace sector by means of groundbreaking research and development.</p>

			  <h3>Role description</h3>
			  <p>In your role as the Quality Supervisor at Elara Aerospace, specialising in SYNERA and FEM, you will be entrusted with the essential task of guaranteeing the highest level of quality in our aerospace engineering tasks.  By capitalising on your expertise in SYNERA for quality supervision and Finite Element Method (FEM) for topology optimisation, your role will entail the supervision of quality assurance procedures and the execution of complex quality control protocols. The optimal candidate will possess a strong attention to detail and a careful approach to work, committed to maintaining the highest levels of perfection by employing cutting-edge technologies and techniques.</p>

			  <h3>Key Responsibilities</h3>
			  <ul>
				<li>UtiliseUtilize SYNERA software for quality monitoring and management to ensure compliance with regulatory standards and internal quality control procedures.</li>
				<li>Apply Finite Element Method (FEM) and FEM-based topology optimisation techniques to improve the structural integrity and performance of aerospace components and systems.</li>
				<li>Develop and implement quality assurance processes and procedures to monitor and evaluate the quality of engineering designs, manufacturing processes and finished products.</li>
				<li>Conduct inspections and audits to identify quality issues, root causes and corrective actions, working closely with cross-functional teams to implement sustainable solutions.</li>
				<li>Work with engineering and manufacturing teams to establish quality standards, specifications, and metrics, ensuring alignment with project requirements and objectives.</li>
				<li>Analyse data and performance metrics to track quality performance, identify trends and drive continuous improvement initiatives.</li>
				<li>Train and mentor team members on quality control methods, tools, and best practices to foster a culture of quality excellence and continuous improvement.</li>
			  </ul>

			  <h3>Qualifications</h3>
			  <ul>
				<li>Proven work experience in a similar field</li>
				<li>Bachelor’s degree in quality management, Industrial Engineering, Production Engineering, Systems Engineering or related field; advanced degree preferred. Applications from candidates nearing the end of their studies are also welcome. Limited academic experience in the field is acceptable, if it can be compensated with relevant work experience (apprenticeship, or similar).</li>
				<li>Proficiency in the use of SYNERA software for quality control and management, with proven experience in implementing quality control processes and procedures.</li>
				<li>Competence in Finite Element Method (FEM) and FEM-based topology optimisation techniques, with practical experience of applying these methods to aerospace engineering projects.</li>
				<li>Strong analytical and problem-solving skills with the ability to identify quality issues, root causes and corrective actions.</li>
				<li>Attention to detail and a commitment to the highest standards of quality and excellence.</li>
				<li>Effective communication and interpersonal skills, with the ability to work effectively with cross-functional teams and stakeholders.</li>
				<li>Experience in quality assurance, quality control or related roles in the aerospace or manufacturing industry preferred.</li>
			  </ul>

			  {% include values.html %}
			</div>

			<button class="accordion">Vibration Analyst</button>
			<div class="panel">
			  <h3>Who we are</h3>
			  <p>Elara Aerospace is among the pioneers in the aerospace industry with regard to student-driven innovation. Our objective is to accomplish the unprecedented achievement of propelling a rocket to a height of 100 kilometres by utilising bi-liquid rocket engines—a accomplishment that has not been previously achieved by any student organisation. We are motivated by a steadfast dedication to innovation, specifically within the domain of liquid rocket engines, and strive to expedite advancements in the aerospace sector by means of groundbreaking research and development.</p>

			  <h3>Role description</h3>
			  <p>In the position of Vibration Analysis Expert at Elara Aerospace, your responsibilities will include the utilisation of complex vibration analysis techniques to improve the durability and stability of our aerospace structures and equipment.  With a specialisation in vibration analysis and civil and mechanical engineering, your role will entail the diagnosis and resolution of vibration-related problems to guarantee the functionality and dependability of our aerospace systems. Skill in vibration analysis and an established track record of effectively diagnosing and resolving complicated vibration issues in the fields of civil and mechanical engineering will characterise the ideal candidate.</p>

			  <h3>Key Responsibilities</h3>
			  <ul>
				<li>Perform advanced vibration analysis of aerospace structures, components, and machinery to identify and mitigate vibration problems.</li>
				<li>Utilise a variety of vibration analysis techniques including modal analysis, frequency response analysis and operational deflection shape analysis to diagnose vibration problems and develop effective solutions.</li>
				<li>Work with engineering teams to integrate vibration analysis into the design and development process to ensure the structural integrity and reliability of aerospace systems.</li>
				<li>Develop and implement predictive maintenance strategies based on vibration analysis data to proactively identify and address potential problems before they escalate.</li>
				<li>Work closely with cross-functional teams to analyse and interpret vibration data, providing insights and recommendations to optimise the performance and longevity of aerospace systems.</li>
				<li>Stay abreast of emerging technologies and best practices in vibration analysis, incorporating new developments into our engineering practices and methodologies.</li>
				<li>Communicate findings and recommendations to stakeholders, including presenting technical reports and participating in design reviews.</li>
			  </ul>

			  <h3>Qualifications</h3>
			  <ul>
				<li>Proven work experience in a similar field</li>
				<li>Bachelor's degree in civil engineering, mechanical engineering, acoustics, automotive engineering, or related field; advanced degree preferred. Applications from candidates nearing the end of their studies are also welcome. Limited academic experience in the field is acceptable, if it can be compensated with relevant work experience (apprenticeship, or similar).</li>
				<li>Specialisation in vibration analysis with a focus on civil and mechanical engineering applications.</li>
				<li>Strong analytical and problem-solving skills with the ability to diagnose and solve complex vibration problems in aerospace systems.</li>
				<li>Knowledge of vibration analysis techniques and tools, including modal analysis, frequency response analysis and operational deflection shape analysis.</li>
				<li>Experience with finite element analysis (FEA) software and structural dynamics simulation preferred.</li>
				<li>Excellent communication and interpersonal skills with the ability to work effectively with cross-functional teams and stakeholders.</li>
				<li>Ability to thrive in a fast-paced, dynamic environment and manage multiple projects simultaneously.</li>
			  </ul>

			  {% include values.html %}
			</div>

			<button class="accordion">Material and Processes (M&P)</button>
			<div class="panel">
			  <h3>Who we are</h3>
			  <p>Elara Aerospace is among the pioneers in the aerospace industry with regard to student-driven innovation. Our objective is to accomplish the unprecedented achievement of propelling a rocket to a height of 100 kilometres by utilising bi-liquid rocket engines—a accomplishment that has not been previously achieved by any student organisation. We are motivated by a steadfast dedication to innovation, specifically within the domain of liquid rocket engines, and strive to expedite advancements in the aerospace sector by means of groundbreaking research and development.</p>

			  <h3>Role description</h3>
			  <p>In the position of the Material Science Expert at Elara Aerospace, your work will be essential in driving progress within the field of aerospace engineering by means of revolutionary developments in engineering materials. You will be tasked with the responsibility of growing material innovation and optimisation to improve the performance, durability, and stability of our aerospace systems, utilising your specialised knowledge in material science. Skilled in material innovation, the optimal candidate will make significant contributions to the development of revolutionary engineering materials and processes.</p>

			  <h3>Key Responsibilities</h3>
			  <ul>
				<li>Lead materials science research and development efforts to identify, evaluate and optimise materials for aerospace applications.</li>
				<li>Utilise specialist materials science knowledge to analyse material properties, performance characteristics and behaviour under extreme conditions.</li>
				<li>Work with engineering teams to select and integrate materials into aerospace designs to ensure compatibility, reliability, and performance.</li>
				<li>Perform material testing, analysis, and characterisation to evaluate material properties and performance under simulated aerospace conditions.</li>
				<li>Develop and implement material qualification and certification procedures to ensure compliance with regulatory standards and performance requirements.</li>
				<li>Investigate material failure modes and develop corrective actions to address material-related issues and improve the reliability of aerospace systems.</li>
				<li>Keep abreast of emerging materials and process technologies and incorporate new developments into our engineering practices and methodologies.</li>
				<li>Communicate findings and recommendations to stakeholders, including presenting technical reports and participating in design reviews.</li>
			  </ul>

			  <h3>Qualifications</h3>
			  <ul>
				<li>Proven work experience in a similar field</li>
				<li>Bachelor's degree in materials science, materials engineering, chemistry, environmental engineering or related field; advanced degree preferred. Applications from candidates nearing the end of their studies are also welcome. Limited academic experience in the field is acceptable, if it can be compensated with relevant work experience (apprenticeship, or similar).</li>
				<li>Preferred specialised knowledge of materials science with a focus on aerospace applications.</li>
				<li>Strong analytical and problem-solving skills, with the ability to analyse complex materials issues and develop innovative solutions.</li>
				<li>Experience of materials testing, characterisation and analysis techniques, including microscopy, spectroscopy and mechanical testing.</li>
				<li>Knowledge of materials processing techniques such as casting, forging, machining, and additive manufacturing.</li>
				<li>Excellent communication and interpersonal skills with the ability to work effectively with cross-functional teams and stakeholders.</li>
				<li>Ability to thrive in a fast-paced, dynamic environment and manage multiple projects simultaneously.</li>
			  </ul>

			  {% include values.html %}
			</div>

			<button class="accordion">Software Developer/Engineer</button>
			<div class="panel">
			  <h3>Who we are</h3>
			  <p>Elara Aerospace is among the pioneers in the aerospace industry with regard to student-driven innovation. Our objective is to accomplish the unprecedented achievement of propelling a rocket to a height of 100 kilometres by utilising bi-liquid rocket engines—a accomplishment that has not been previously achieved by any student organisation. We are motivated by a steadfast dedication to innovation, specifically within the domain of liquid rocket engines, and strive to expedite advancements in the aerospace sector by means of groundbreaking research and development.</p>

			  <h3>Role description</h3>
			  <p>In your role as the Senior Software Engineer at Elara Aerospace, with a specific focus on rocket simulations, you will be crucial in propelling progress in aerospace technologies by means of your outstanding talent for software development. Possessing expertise in programming languages including C, C++, Assembly, and potentially VHDL or MATLAB, your primary duty will be to develop software applications that help with data analysis and rocket simulations. A passion for innovation and practical experience in developing software solutions to optimise rocket performance and accomplish mission objectives will characterise the optimal candidate.</p>

			  <h3>Key Responsibilities</h3>
			  <ul>
				<li>Design, develop and maintain software applications for rocket simulation, including trajectory analysis, propulsion modelling and performance optimisation.</li>
				<li>Use programming languages such as C, C++, Assembly and possibly VHDL or MATLAB to implement rocket simulation algorithms and models.</li>
				<li>Work with aerospace engineers and scientists to understand simulation requirements and translate them into software requirements and design specifications.</li>
				<li>Perform testing, validation, and verification of software applications to ensure accuracy, reliability and performance under various operating conditions.</li>
				<li>Analyse simulation data and results to evaluate rocket performance, identify areas for improvement and inform design decisions.</li>
				<li>Stay abreast of emerging technologies and best practices in software development and incorporate new developments into our engineering practices and methodologies.</li>
				<li>Provide technical leadership and mentorship to junior software engineers, fostering a culture of excellence and innovation within the software development team.</li>
			  </ul>

			  <h3>Qualifications</h3>
			  <ul>
				<li>Proven work experience in a similar field</li>
				<li>Bachelor’s degree in computer science, Software Engineering, Electrical Engineering, Mathematics, or related field; advanced degree preferred. Applications from candidates nearing the end of their studies are also welcome. Limited academic experience in the field is acceptable, if it can be compensated with relevant work experience (apprenticeship, or similar).</li>
				<li>Proficiency in programming languages such as C, C++, Assembly, and possibly VHDL or MATLAB, with hands-on software development experience.</li>
				<li>Specialized Specialisation in writing rocket simulation and data analysis software, with a passion for aerospace engineering and scientific exploration.</li>
				<li>Strong analytical and problem-solving skills, with the ability to develop innovative solutions to complex technical challenges.</li>
				<li>Experience of software development methodologies, tools, and best practices, including version control systems, agile development, and test-driven development.</li>
				<li>Excellent communication and interpersonal skills, with the ability to work effectively with cross-functional teams and stakeholders.</li>
				<li>Ability to thrive in a fast-paced, dynamic environment and manage multiple projects simultaneously.</li>
			  </ul>

			  {% include values.html %}
			</div>

			<button class="accordion">Composite Expert</button>
			<div class="panel">
			  <h3>Who we are</h3>
			  <p>Elara Aerospace is among the pioneers in the aerospace industry with regard to student-driven innovation. Our objective is to accomplish the unprecedented achievement of propelling a rocket to a height of 100 kilometres by utilising bi-liquid rocket engines—a accomplishment that has not been previously achieved by any student organisation. We are motivated by a steadfast dedication to innovation, specifically within the domain of liquid rocket engines, and strive to expedite advancements in the aerospace sector by means of groundbreaking research and development.</p>

			  <h3>Role description</h3>
			  <p>In the position of the Composite Materials Engineer at Elara Aerospace, your contributions will be crucial in the development of composite materials utilised in cutting-edge aerospace applications. You will be accountable for the design, development, and optimisation of composite structures and components for our rockets, utilising your knowledge of chemistry and engineering in relation to composite materials. A competent and innovative engineer who is committed to expanding the horizons of material science and engineering to accomplish our objectives will be the optimal candidate.</p>

			  <h3>Key responsibilities</h3>
			  <ul>
				<li>Design, develop and optimise composite structures and components for aerospace applications, including rocket airframes, payload fairings and propulsion systems.</li>
				<li>Use chemical and engineering expertise to select and characterise composite materials for specific aerospace requirements, considering factors such as strength, weight, and thermal properties.</li>
				<li>Conduct materials testing, analysis, and validation to evaluate the performance and reliability of composite materials under simulated aerospace conditions.</li>
				<li>Work with cross-functional teams to integrate composite structures into overall rocket designs to ensure compatibility, reliability, and performance.</li>
				<li>Develop and implement manufacturing processes and procedures to produce composite structures, including lay-up, curing and quality control.</li>
				<li>Investigate and troubleshoot composite problems, identifying root causes and implementing corrective actions to improve performance and reliability.</li>
				<li>Keep abreast of emerging technologies and best practices in composite materials and manufacturing and incorporate new developments into our engineering practices and methodologies.</li>
				<li>Communicate findings and recommendations to stakeholders, including presenting technical reports and participating in design reviews.</li>
			  </ul>

			  <h3>Qualifications</h3>
			  <ul>
				<li>Proven work experience in a similar field</li>
				<li>Bachelor's degree in chemical engineering, materials science, physics, mechanical engineering, or related field; advanced degree preferred. Applications from candidates nearing the end of their studies are also welcome. Limited academic experience in the field is acceptable, if it can be compensated with relevant work experience (apprenticeship, or similar).</li>
				<li>Expertise in the chemistry and engineering of composite materials with a focus on aerospace applications.</li>
				<li>Strong analytical and problem-solving skills with the ability to design and optimise composite structures to meet specific performance requirements.</li>
				<li>Experience of materials testing, analysis and validation techniques, including mechanical testing, thermal analysis and non-destructive testing.</li>
				<li>Knowledge of composite manufacturing processes and procedures, including lay-up, curing and quality control.</li>
				<li>Excellent communication and interpersonal skills with the ability to work effectively with cross-functional teams and stakeholders.</li>
				<li>Ability to thrive in a fast-paced, dynamic environment and manage multiple projects simultaneously.</li>
			  </ul>

			  {% include values.html %}
			</div>

			<button class="accordion">Hydraulic and Pneumatics Systems Engineer</button>
			<div class="panel">
			  <h3>Who we are</h3>
			  <p>Elara Aerospace is among the pioneers in the aerospace industry with regard to student-driven innovation. Our objective is to accomplish the unprecedented achievement of propelling a rocket to a height of 100 kilometres by utilising bi-liquid rocket engines—a accomplishment that has not been previously achieved by any student organisation. We are motivated by a steadfast dedication to innovation, specifically within the domain of liquid rocket engines, and strive to expedite advancements in the aerospace sector by means of groundbreaking research and development.</p>

			  <h3>Role description</h3>
			  <p>In your role as the Hydraulic and Pneumatics Systems Engineer at Elara Aerospace, you will be entrusted with the critical responsibility of understanding and refining rocket hydraulic and pneumatic systems. With expertise in hydraulics and process engineering, your main job will be to ensure that our hydraulic and pneumatic systems operate with optimal performance, dependability, and efficiency for the duration of the rocket's lifecycle. Skill and expertise in the design and optimisation of hydraulic and pneumatic systems for aerospace applications will characterise the optimal candidate.</p>

			  <h3>Key responsibilities</h3>
			  <ul>
				<li>Design, develop and optimise hydraulic and pneumatic systems for aerospace applications, including propulsion, control, and actuation systems.</li>
				<li>Use hydraulic and process engineering expertise to select, specify and integrate components and subsystems into overall rocket designs.</li>
				<li>Perform analysis and simulation of hydraulic and pneumatic systems to evaluate performance, identify potential problems, and optimise system design using the GT Suite.
				<li>Work with cross-functional teams to integrate hydraulic and pneumatic systems into overall rocket designs to ensure compatibility, reliability, and performance.</li>
				<li>Develop and implement test and validation procedures to verify the performance and reliability of hydraulic and pneumatic systems under simulated aerospace conditions.</li>
				<li>Investigate and troubleshoot hydraulic and pneumatic system problems, identifying root causes and implementing corrective actions to improve performance and reliability.</li>
				<li>Keep abreast of emerging technologies and best practice in hydraulic and pneumatic systems and incorporate new developments into our engineering practices and methodologies.</li>
				<li>Communicate findings and recommendations to stakeholders, including presenting technical reports and participating in design reviews.</li>
			  </ul>

			  <h3>Qualifications</h3>
			  <ul>
				<li>Prooven work experience in a similar field</li>
				<li>Bachelor's degree in mechanical engineering, process engineering, environmental engineering, automation engineering or related field; advanced degree preferred. Applications from candidates nearing the end of their studies are also welcome. Limited academic experience in the field is acceptable, if it can be compensated with relevant work experience (apprenticeship, or similar).</li>
				<li>Specialisation in hydraulics and process engineering with a focus on aerospace applications.</li>
				<li>Strong analytical and problem-solving skills with the ability to design and optimise hydraulic and pneumatic systems to meet specific performance requirements.</li>
				<li>Experience of hydraulic and pneumatic system design, analysis and simulation tools and methodologies. Preferred GT Suite experience</li>
				<li>Knowledge of hydraulic and pneumatic components and subsystems, including pumps, valves, actuators, and control systems.</li>
				<li>Excellent communication and interpersonal skills with the ability to work effectively with cross-functional teams and stakeholders.</li>
				<li>Ability to thrive in a fast-paced, dynamic environment and manage multiple projects simultaneously.</li>
			  </ul>

			  {% include values.html %}
			</div>

			<button class="accordion">Temperature Analyst</button>
			<div class="panel">
			  <h3>Who we are</h3>
			  <p>Elara Aerospace is among the pioneers in the aerospace industry with regard to student-driven innovation. Our objective is to accomplish the unprecedented achievement of propelling a rocket to a height of 100 kilometres by utilising bi-liquid rocket engines—a accomplishment that has not been previously achieved by any student organisation. We are motivated by a steadfast dedication to innovation, specifically within the domain of liquid rocket engines, and strive to expedite advancements in the aerospace sector by means of groundbreaking research and development.</p>

			  <h3>Role description</h3>
			  <p>As the Thermal Engineer at Elara Aerospace, your main task will be to ensure that our rockets are fitted with temperature regulation systems that operate with the highest level of accuracy.  With a strong background in thermal engineering and temperature analysis, your responsibilities will involve evaluating and optimising thermal performance to enhance the reliability, efficiency, and safety of our aerospace systems. The ideal candidate to achieve our goals will be an expert in thermal dynamics with an unwavering commitment to pushing the boundaries of engineering.</p>

			  <h3>Key responsibilities</h3>
			  <ul>
				<li>Perform temperature analysis and thermal modelling of aerospace systems, including rocket propulsion, avionics, and thermal protection systems.</li>
				<li>Use thermal engineering expertise to design and optimise thermal management solutions, including insulation, cooling systems and heat exchangers.</li>
				<li>Work with cross-functional teams to integrate thermal management solutions into the overall rocket design to ensure compatibility, reliability, and performance.</li>
				<li>Develop and implement test and validation procedures to verify the thermal performance and reliability of space systems under simulated space conditions.</li>
				<li>Investigate and troubleshoot thermal problems such as thermal gradients, hot spots, and thermal stress, identifying root causes and implementing corrective actions.</li>
				<li>Keep abreast of emerging technologies and best practices in thermal engineering and incorporate new developments into our engineering practices and methodologies.</li>
				<li>Communicate findings and recommendations to stakeholders, including presenting technical reports and participating in design reviews.</li>
			  </ul>

			  <h3>Qualifications</h3>
			  <ul>
				<li>Proven work experience in a similar field</li>
				<li>Bachelor's degree in thermodynamics, energy engineering, physical engineering or related field; advanced degree preferred. Applications from candidates nearing the end of their studies are also welcome. Limited academic experience in the field is acceptable, if it can be compensated with relevant work experience (apprenticeship, or similar).</li>
				<li>Expertise in temperature analysis and thermal engineering with a focus on aerospace applications.</li>
				<li>Strong analytical and problem-solving skills with the ability to analyse complex thermal dynamics and develop innovative solutions.</li>
				<li>Experience with thermal analysis and simulation tools and methodologies such as Finite Element Analysis (FEA) and Computational Fluid Dynamics (CFD).</li>
				<li>Knowledge of thermal management solutions, including insulation materials, cooling systems and heat transfer mechanisms.</li>
				<li>Excellent communication and interpersonal skills with the ability to work effectively with cross-functional teams and stakeholders.</li>
				<li>Ability to thrive in a fast-paced, dynamic environment and manage multiple projects simultaneously.</li>
			  </ul>

			  {% include values.html %}
			</div>

			<button class="accordion">Mechatronics EMV</button>
			<div class="panel">
			  <h3>Who we are</h3>
			  <p>Elara Aerospace is among the pioneers in the aerospace industry with regard to student-driven innovation. Our objective is to accomplish the unprecedented achievement of propelling a rocket to a height of 100 kilometres by utilising bi-liquid rocket engines—a accomplishment that has not been previously achieved by any student organisation. We are motivated by a steadfast dedication to innovation, specifically within the domain of liquid rocket engines, and strive to expedite advancements in the aerospace sector by means of groundbreaking research and development.</p>

			  <h3>Role description</h3>
			  <p>In the role of the Mechatronics Engineer at Elara Aerospace, your responsibility will be to optimise the performance, reliability, and efficiency of our aerospace systems through the seamless integration of mechanical and electronic systems. You will be entrusted with the task of designing, developing, and testing mechatronic (EMV capability tests) systems for our launchers as a specialist in mechatronics engineering. An engineer who is adaptable and inventive, and who is committed to expanding the limits of mechatronics engineering to accomplish our objectives, would be the optimal candidate.</p>

			  <h3>Key responsibilities</h3>
			  <ul>
				<li>Design, develop and test mechatronic systems for aerospace applications, including propulsion, control, and avionics systems.</li>
				<li>Utilise mechatronics engineering expertise to integrate mechanical and electronic components and subsystems into overall rocket designs.</li>
				<li>Work with cross-functional teams to develop mechatronic solutions that meet performance, reliability, and safety requirements.</li>
				<li>Perform test and validation of mechatronic systems to verify performance and reliability under simulated aerospace conditions.</li>
				<li>Investigate and troubleshoot mechatronic system problems, identifying root causes and implementing corrective actions.</li>
				<li>Keep abreast of emerging technologies and best practices in mechatronics engineering and incorporate new developments into our engineering practices and methodologies.</li>
				<li>Communicate findings and recommendations to stakeholders, including presenting technical reports and participating in design reviews.</li>
			  </ul>

			  <h3>Qualifications</h3>
			  <ul>
				<li>Proven work experience in a similar field</li>
				<li>Bachelor's degree in mechatronics, robotics, automation, or related field; advanced degree preferred. Applications from candidates nearing the end of their studies are also welcome. Limited academic experience in the field is acceptable, if it can be compensated with relevant work experience (apprenticeship, or similar).</li>
				<li>Specialisation in mechatronics engineering with a focus on aerospace applications.</li>
				<li>Strong analytical and problem-solving skills with the ability to design and optimise mechatronic systems to meet specific performance requirements.</li>
				<li>Experience of mechanical and electronic design tools and methodologies such as Eplan (similar software) CAD/CAM and beneficial would be PCB design.</li>
				<li>Knowledge of control systems, sensors, actuators, and embedded systems programming.</li>
				<li>Excellent communication and interpersonal skills with the ability to work effectively with cross-functional teams and stakeholders.</li>
				<li>Ability to thrive in a fast-paced, dynamic environment and manage multiple projects simultaneously.</li>
			  </ul>

			  {% include values.html %}
			</div>

			<button class="accordion">Marketing Manager</button>
			<div class="panel">
			  <h3>Who we are</h3>
			  <p>Elara Aerospace is among the pioneers in the aerospace industry with regard to student-driven innovation. Our objective is to accomplish the unprecedented achievement of propelling a rocket to a height of 100 kilometres by utilising bi-liquid rocket engines—a accomplishment that has not been previously achieved by any student organisation. We are motivated by a steadfast dedication to innovation, specifically within the domain of liquid rocket engines, and strive to expedite advancements in the aerospace sector by means of groundbreaking research and development.</p>

			  <h3>Role Description</h3>
			  <p>As a Marketing Manager at Elara Aerospace, you will play a key role in shaping our brand image and driving our outreach efforts. You will be responsible for developing and implementing marketing strategies to promote our projects, attract potential collaborators and engage with relevant parties. The ideal candidate will have a combination of strategic thinking, creative flair and a passion for space exploration.</p>

			  <h3>Key Responsibilities</h3>
			  <ul>
				<li>Develop and implement comprehensive marketing plans to support Elara Aerospace's objectives and increase brand awareness.</li>
				<li>Lead the creation of marketing materials including website content, press releases, presentations and collateral.</li>
				<li>Manage social media channels and online presence to engage with our target audience and build a community around our initiatives.</li>
				<li>Coordinate participation in industry events, conferences and exhibitions to showcase Elara Aerospace's achievements and foster partnerships.</li>
				<li>Conduct market research and competitive analysis to identify opportunities for differentiation and growth.</li>
				<li>Work with cross-functional teams, including engineering, finance and communications, to ensure alignment of marketing efforts with business objectives.</li>
				<li>Monitor and analyse the performance of marketing campaigns and initiatives, adjusting strategies as necessary to optimise results.</li>
				<li>Stay abreast of emerging trends and technologies in the aerospace and marketing industries and integrate new ideas into our marketing approach.</li>
			  </ul>

			  <h3>Qualifications</h3>
			  <ul>
				<li>Proven experience in a marketing role, preferably in the aerospace or technology sector.</li>
				<li>Bachelor's degree in marketing, business administration or related field; advanced degree or relevant certifications a plus.</li>
				<li>Strong analytical skills and ability to make data-driven decisions.</li>
				<li>Excellent written and verbal communication skills, with the ability to communicate complex concepts in a clear and compelling manner.</li>
				<li>Creative thinking and design skills, with experience of graphic design tools and software.</li>
				<li>Ability to work effectively in a dynamic, fast-paced environment and manage multiple projects simultaneously.</li>
				<li>A passion for space exploration and a genuine interest in advancing the aerospace industry.</li>
			  </ul>

			  {% include values.html %}
			</div>
			
		<script>
		var acc = document.getElementsByClassName("accordion");
		var i;

		for (i = 0; i < acc.length; i++) {
		  acc[i].addEventListener("click", function() {
			this.classList.toggle("active");
			var panel = this.nextElementSibling;
			if (panel.style.maxHeight) {
			  panel.style.maxHeight = null;
			} else {
			  panel.style.maxHeight = panel.scrollHeight + "px";
			} 
		  });
		}
		</script>
		
		<br><br>

		<center>
			<h3>Nothing found that fits you?</h3>
			<br>
			<a href='https://share-eu1.hsforms.com/1VOingIyOT-ieQsl-oTgPdA2dhsrl' class='btn btn--primary'>Submit an unsolicited application</a>
		</center>
	</section>
