
    <!-- footer
    ================================================== -->
    <footer>
			<center>
			<div class="footer-logo" data-aos="fade-up">
			</div>
				<h3 data-aos="fade-up"><span style="color:white">Fortune favours the Bold</span></h3>
				<br />
				<a href="{{ site.url }}/apply/" class="btn btn--primary" data-aos="fade-up">
					Join Us on a Historic Journey
				</a>
				<a href="/partners/" class="btn" data-aos="fade-up">
					Become a Supplier
				</a>
			</center>
			<br />
        </div> <!-- end footer-main -->

    </footer> <!-- end footer -->

      <div class="footer-links">
      
        <div class="row footer-bottom">
        
            <div class="col-twelve">
                <div class="copyright">
                    <span>Follow us on</span>
                    <span><a aria-label="Follow Us on LinkedIn" href="https://www.linkedin.com/company/{{ site.linkedin_username }}"> <i class="fa-brands fa-linkedin" aria-hidden="true"></i> LinkedIn</a></span>
                    <span><a aria-label="Follow Us on X (Twitter)" href="https://x.com/{{ site.twitter_username }}"><i class="fa-brands fa-x-twitter" aria-hidden="true"></i> X.com</a></span>
                    <span><a aria-label="Follow Us on Instagram" href="https://www.instagram.com/{{ site.instagram_username }}/"><i class="fa-brands fa-instagram" aria-hidden="true"></i> Instagram</a></span>
                    <span><a aria-label="Subscribe Us on YouTube" href="https://www.youtube.com/{{ site.youtube_username }}?sub_confirmation=1"><i class="fa-brands fa-youtube" aria-hidden="true"></i> YouTube</a></span>
                    <span><a aria-label="Follow Us on GitHub" href="https://github.com/{{ site.github_username }}"><i class="fa-brands fa-github" aria-hidden="true"></i> GitHub</a></span>
                </div>
            </div>

            <br><br>
 
            <div class="col-twelve">
                <div class="copyright">
                    <span><a href="/contact/">Contact Us</a></span>
                    <span><a href="/press/">Media Inquiries</a></span>
                    <span><a href="/apply/">Careers</a></span>
                    <span><a href="https://status.elara-aerospace.com/">Status</a></span>
                    <span><a href="/policy/">Legal</a></span>
                    <span><a href="/policy/privacy/">Privacy Policy</a></span>
                    <span><a href="/imprint/">Legal Notice</a></span>
                </div>
                <br/>
                <span style="color:white"><big><strong>Made with &#x1F496; in <a target="_blank" href="https://www.muenchen.de/int/en.html">Munich</a> &#x1F968;&#x1F37B; &#x1F1E9;&#x1F1EA;</strong></big></span>
                <br/><br/>
                <span>Copyright &copy; 2025 Elara Aerospace GmbH</span>
            </div>
            
                <div class="go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up" aria-hidden="true"></i></a>
                </div>
            </div>

        </div> <!-- end footer-bottom -->

    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div> <!-- end photoSwipe background -->


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale-pulse-out">
		<img src="/assets/images/loader.gif" alt="Loading website..." />
		<!-- DEACTIVATED:
		<video autoplay loop muted playsinline preload="auto">
                    <source src="/assets/videos/loader.webm" type="video/webm">
                    <img src="/assets/images/loader.gif" alt="Loading website...">
		</video>
		-->
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/main.js"></script>
	
	<!-- Start of HubSpot Embed Code -->
	<script type="text/javascript" id="hs-script-loader" async defer src="//js-eu1.hs-scripts.com/143597793.js"></script>
	<!-- End of HubSpot Embed Code -->
