Google Analytics 4
If you have given your consent, this website uses Google Analytics 4, a web analytics service provided by Google LLC. The controller for users in the EU/EEA and Switzerland is Google Ireland Limited, Google Building Gordon House, 4 Barrow St, Dublin, D04 E5W5, Ireland ("Google").

Nature and purpose of the processing
Google Analytics 4 uses cookies that enable an analysis of your use of our websites. The information collected by means of the cookies about your use of this website is generally transferred to a Google server in the USA and stored there.

[OPTIONAL: We use the User ID function. User ID allows us to assign a unique, persistent ID to one or more sessions (and the activities within those sessions) and to analyse user behaviour across devices].

[OPTIONAL: We use Google Signals. This allows Google Analytics to collect additional information about users who have personalised ads enabled (interests and demographics) and ads can be delivered to these users in cross-device remarketing campaigns].

Google Analytics 4 has IP anonymisation enabled by default. Due to IP anonymisation, your IP address will be shortened by Google within Member States of the European Union or in other states party to the Agreement on the European Economic Area. Only in exceptional cases will the full IP address be transferred to a Google server in the USA and shortened there. According to Google, the IP address transferred by your browser as part of Google Analytics will not be merged with other Google data.
During your website visit, your user behaviour is recorded in the form of "events". Events can be:

    Page views
    First visit to the website
    Start of session
    Web pages visited
    Your "click path", interaction with the website
    Scrolls (whenever a user scrolls to the bottom of the page (90%))
    Clicks on external links 
    Internal search queries
    Interaction with videos
    File downloads
    Seen Ads / clicked Ads

Also recorded:

    Your approximate location (region)
    Date and time of your visit
    Your IP address (in shortened form)
    Technical information about your browser and the end devices you use (e.g. language setting, screen resolution)
    your internet service provider
    the referrer URL (via which website/advertising medium you came to this website)

Purposes of the data processing
On behalf of the operator Google will use this information to evaluate your [pseudonymous [NOT USING USER ID]] use of the website and to compile reports on website activity. The reports provided by Google Analytics 4 serve to analyse the performance of our website [OPTIONAL: and the success of our marketing campaigns].

Recipients
Recipients of the data are/may be

    Google Ireland Limited, Gordon House, Barrow Street, Dublin 4, Ireland (as processor under Art. 28 DSGVO).
    Google LLC, 1600 Amphitheatre Parkway Mountain View, CA 94043, USA
    Alphabet Inc, 1600 Amphitheatre Parkway Mountain View, CA 94043, USA

Third country transfer
For the USA, the European Commission adopted a news adequacy decision on 10 July 2023. Google LLC is certified under the EU-US Privacy Framework. Since Google servers are distributed worldwide and a transfer to third countries (for example to Singapore) cannot be completely ruled out, we have also concluded the EU standard contractual clauses with the provider to establish an appropriate level of data protection in those countries.

Retention period
The data sent by us and linked to cookies are automatically deleted after 2 [OR: 14 months]. The maximum lifespan of Google Analytics cookies is 2 years. The deletion of data whose retention period has been reached occurs automatically once a month.

Legal basis
The legal basis for this data processing is your consent pursuant to Art.6 para.1 p.1 lit.a GDPR and § 25 para. 1 p.1 TTDSG.

Withdrawal
You can withdraw your consent at any time with effect for the future by accessing the cookie settings [SET THE LINK TO COOKIE SETTINGS HERE] and changing your selection there. The lawfulness of the processing carried out on the basis of the consent until revocation remains unaffected.

You can also prevent the storage of cookies from the outset by setting your browser software accordingly. However, if you configure your browser to reject all cookies, this may result in a restriction of functionalities on this and other websites. You can also prevent the collection of data generated by the cookie and relating to your use of the website (including your IP address) by Google, and the processing of this data by Google, by

a. not giving your consent to the setting of the cookie or
b. downloading and installing the browser add-on to deactivate Google Analytics HERE.
For more information on Google Analytics' terms of use and Google's privacy policy, please visit https://marketingplatform.google.com/about/analytics/terms/us/ and at https://policies.google.com/?hl=en.
