    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="index.html">
                <img src="/assets/images/logo.png" alt="Homepage">
            </a>
        </div>

		{% include navigation.html %}

        <a class="header-menu-toggle" href="#0">
            <span class="header-menu-text" style="color:white">Menu</span>
            <span class="header-menu-icon"></span>
        </a>

    </header> <!-- end s-header -->
