
    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="{{ page.header-image }}" data-natural-width="{{ page.header-image-width }}" data-natural-height="{{ page.header-image-height }}" data-position-y="center">

        <div class="overlay"></div>
        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">

                <h1><div class="tektur">{{ page.header-title }}</div></h1>

                <h3>
                     <div class="tektur">
						{{ page.header-desc }}
					 </div>
                </h3>

                <div class="home-content__buttons">
                    {{ page.first-button }}
					
                    {{ page.second-button }}
                </div>

            </div>

            <div class="home-content__scroll">
                <a href="{{ page.scroll-link }}" class="scroll-link smoothscroll">
                    <span>Scroll Down</span>
                </a>
            </div>

            <div class="home-content__line"></div>

        </div> <!-- end home-content -->


        <ul class="home-social">
            <li>
                <a aria-label="Follow Us on LinkedIn" href="https://www.linkedin.com/company/{{ site.linkedin_username }}"><i class="fa-brands fa-linkedin" aria-hidden="true"></i><span>LinkedIn</span></a>
            </li>
			<li>
                <a aria-label="Follow Us on X (Twitter)" href="https://x.com/{{ site.twitter_username }}"><i class="fa-brands fa-x-twitter" aria-hidden="true"></i><span>X</span></a>
            </li>
            <li>
                <a aria-label="Follow Us on Instagram" href="https://www.instagram.com/{{ site.instagram_username }}/"><i class="fa-brands fa-instagram" aria-hidden="true"></i><span>Instagram</span></a>
            </li>
            <li>
                <a aria-label="Subscribe Us on YouTube" href="https://www.youtube.com/{{ site.youtube_username }}?sub_confirmation=1"><i class="fa-brands fa-youtube" aria-hidden="true"></i><span>YouTube</span></a>
            </li>
            <li>
                <a aria-label="Follow Us on GitHub" href="https://github.com/{{ site.github_username }}"><i class="fa-brands fa-github" aria-hidden="true"></i><span>GitHub</span></a>
            </li>
        </ul> 
        <!-- end home-social -->

    </section> <!-- end s-home -->
