
    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="{{ page.header-image }}" data-natural-width="{{ page.header-image-width }}" data-natural-height="{{ page.header-image-height }}" data-position-y="center">

        <div class="overlay"></div>
        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">

                <h1><div class="tektur">{{ page.header-title }}</div></h1>

                <h3>
                     <div class="tektur">
						{{ page.header-desc }}
						<!-- DEACTIVATED:
						<big><abbr title="Wikipedia definition: The Kármán line is a proposed conventional boundary between Earth's atmosphere and outer space set by the international record-keeping body FAI at an altitude of 100 kilometres above mean sea level.">Kármán Line</abbr><big>
						-->
					 </div>
                </h3>

                <div class="home-content__buttons">
                    {% if site.url == "/" %}
					<a target="_blank" href="{{ site.url }}/apply/" class="smoothscroll btn btn--primary">
                        Join Us
                    </a>
					{% endif %}
					
					<a href="{{ page.second-button-link }}" class="smoothscroll btn btn--stroke">
                        {{ page.second-button-desc }}
                    </a>
                </div>

            </div>

            <div class="home-content__scroll">
                <a href="{{ page.second-button-link }}" class="scroll-link smoothscroll">
                    <span>Scroll Down</span>
                </a>
            </div>

            <div class="home-content__line"></div>

        </div> <!-- end home-content -->


        <ul class="home-social">
            <li>
                <a href="https://www.linkedin.com/company/{{ site.linkedin_username }}"><i class="fa fa-linkedin" aria-hidden="true"></i><span>LinkedIn</span></a>
            </li>
			<li>
                <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter" aria-hidden="true"></i><span>Twitter</span></a>
            </li>
            <li>
                <a href="https://www.instagram.com/{{ site.instagram_username }}/"><i class="fa fa-instagram" aria-hidden="true"></i><span>Instagram</span></a>
            </li>
            <li>
                <a href="https://www.youtube.com/{{ site.youtube_username }}"><i class="fa fa-youtube" aria-hidden="true"></i><span>YouTube</span></a>
            </li>
        </ul> 
        <!-- end home-social -->

    </section> <!-- end s-home -->
