
    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="{{ page.header-image }}" data-natural-width=6000 data-natural-height=3000 data-position-y=center>

        <div class="overlay"></div>
        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">

                <h1><div class="tektur">{{ page.header-title }}</div></h1>

                <h3>
                     <div class="tektur">
						Join Us on a Historic Journey: <br>
						Be Part of the First Student <br>
						Methalox Rocket to Reach <br>
						100 km.
						<!-- DEACTIVATED:
						<big><abbr title="Wikipedia definition: The Kármán line is a proposed conventional boundary between Earth's atmosphere and outer space set by the international record-keeping body FAI at an altitude of 100 kilometres above mean sea level.">Kármán Line</abbr><big>
						-->
					 </div>
                </h3>

                <div class="home-content__buttons">
                    <a href="#" class="smoothscroll btn btn--primary">
                        Join Us
                    </a>
                    <a href="#about" class="smoothscroll btn btn--stroke">
                        More About Us
                    </a>
                </div>

            </div>

            <div class="home-content__scroll">
                <a href="#about" class="scroll-link smoothscroll">
                    <span>Scroll Down</span>
                </a>
            </div>

            <div class="home-content__line"></div>

        </div> <!-- end home-content -->


        <ul class="home-social">
            <li>
                <a href="https://www.linkedin.com/company/{{ site.linkedin }}"><i class="fa fa-linkedin" aria-hidden="true"></i><span>LinkedIn</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i><span>Twitter</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i><span>YouTube</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i><span>Instagram</span></a>
            </li>
        </ul> 
        <!-- end home-social -->

    </section> <!-- end s-home -->
