<nav class="header-nav" role="navigation" aria-label="Main Navigation">
    <button class="header-nav__close" aria-label="Close navigation" title="Close navigation">
        <span>Close</span>
    </button>

    <div class="header-nav__content">
        <h3>Navigation</h3>
        
        <ul class="header-nav__list">
            {% for item in site.data.navigation %}
                <li>
                    <a {% if page.url == item.link %}class="current" style="color: purple;"{% endif %} href="{{ item.link }}" title="{{ item.name }}">{{ item.name }}</a>
                    {% if item.subitems %}
                        <ul class="header-nav__sublist">
                            {% for subitem in item.subitems %}
                                <li><a {% if page.url == subitem.link %}class="current" style="color: purple;"{% endif %} href="{{ subitem.link }}" title="{{ subitem.name }}">{{ subitem.name }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        <p>Per aspera ad astra: <a href='/about/mission/'>Our mission</a>.</p>
        
        {% include social-media.html class="header-nav__social" %}

    </div> <!-- end header-nav__content -->
</nav>  <!-- end header-nav -->

