<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
  <head>
    {% include ascii-logo.html %}

    <!--- basic page needs
    ================================================== -->
	<meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% feed_meta %}
	<meta name="author" content="{{ site.author }}"> <!-- tag defines website creator -->
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="elara aerospace, munich student initiative, rockets, rocket building, rocket launch, student-built rocket, german engineering"/>

	<!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
	<!-- Use Resource Hints to reduce connection setup time (https://web.dev/articles/optimizing-content-efficiency-loading-third-party-javascript?utm_source=lighthouse&utm_medium=lr#resource-hints)
    ================================================== -->
    <link rel="preconnect" href="https://www.googletagmanager.com" />
    <link rel="preconnect" href="https://js-eu1.hscollectedforms.net" />
    <link rel="preconnect" href="https://js-eu1.hs-analytics.net" />
    <link rel="preconnect" href="https://code.jquery.com" />

	<!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/vendor.css">
    <link rel="stylesheet" href="/assets/css/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Tektur:wght@500&display=swap" rel="stylesheet"> 
	<style>
		.tektur { font-family: 'Tektur', sans-serif; }
	</style>

    <!-- script
    ================================================== -->
    <script src="/assets/js/modernizr.js"></script>
    <script src="/assets/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/images/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/assets/images/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
	<link rel="manifest" href="assets/images/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="assets/images/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

    <!-- Schema.org Snippet (for Search Engines)
    ================================================== -->
	<script type="application/ld+json">
		{
			"@context": "https://schema.org",
			"@type": "Organization",
			"name": "Elara Aerospace",
			"alternateName": "Elara Aerospace",
			"description": "{{ site.description }}",
			"url": "https://elara-aerospace.com/",
			"logo": "https://elara-aerospace.com/assets/images/favicon/android-icon-192x192.png",
			"image": [
  			"https://elara-aerospace.com/assets/images/team-may_2024.webp",
				"https://elara-aerospace.com/assets/images/highlights/mmk.webp",
				"https://elara-aerospace.com/assets/images/highlights/1712073103303.jpeg",
				"https://elara-aerospace.com/assets/images/highlights/IMG_9006.jpg"
			],
			"address": {
				"@type": "PostalAddress",
				"addressCountry": "DE",
				"addressLocality": "Munich",
				"postalCode": "80333",
				"streetAddress": " Arcisstrasse 21"
			},
			"sameAs": [
				"https://www.linkedin.com/company/elara-aerospace",
				"https://www.instagram.com/elara_aerospace/",
				"https://github.com/elara-aerospace",
				"https://twitter.com/Elara_Aerospace",
				"https://www.youtube.com/@Elara-Aerospace",
				"https://elara-aerospace.com/"
			]
		}
	</script>
	
	{% if jekyll.environment == "production" %}
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-YEBDGT1478"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'G-YEBDGT1478');
		</script>

		<!-- GDPR-compliant Open Source Cookie Banner (on GitHub by dobarkod/cookie-banner) -->
		<script type="text/javascript" id="cookiebanner" src="https://cdnjs.cloudflare.com/ajax/libs/cookie-banner/1.2.2/cookiebanner.min.js" integrity="sha256-yMTd5YyqT/43FMnYHf9OAEsz7SKMIBhxQTO9MvWN6kQ=" crossorigin="anonymous"></script>

		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-T3TDSHRG');</script>
		<!-- End Google Tag Manager -->

	  	<!-- Meta Pixel Code -->
		<script>
		!function(f,b,e,v,n,t,s)
		{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};
		if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
		n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];
		s.parentNode.insertBefore(t,s)}(window, document,'script',
		'
		[https://connect.facebook.net/en_US/fbevents.js');](https://connect.facebook.net/en_US/fbevents.js%27);)
		fbq('init', '1045502860422560');
		fbq('track', 'PageView');
		</script>
		<noscript><img height="1" width="1" style="display:none"
		src="
		[https://www.facebook.com/tr?id=1045502860422560&ev=PageView&noscript=1"](https://www.facebook.com/tr?id=1045502860422560&ev=PageView&noscript=1%22)
		/></noscript>
		<!-- End Meta Pixel Code -->
	{% endif %}
  </head>
  <body id="top">
	{% if jekyll.environment == "production" %}
  	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T3TDSHRG"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	{% endif %}

	{% include header.html %}
	{% include intro.html %}
	{{ content }}
    {% include footer.html %}
  </body>
</html>
<!-- Built with <3 by Suriyaa -->
